<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SistemaDeInventariosJoel.Properties.Settings.Conexion"
            connectionString="Data Source=DESKTOP-R79499N\SQLEXPRESS;Initial Catalog=Prueba;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>